{% extends 'main/master.html' %}
{% load humanize %}

{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 mt-3">
    <span class="mt-2">
      Welcome, <strong>{{request.user}}</strong>
    </span>

    <div class="float-right">{% now "M d, Y" %}</div><br>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto" style="margin-top: 14vh">

            <div class="accordion mb-5" id="books">

              <div class="card">

                <div class="card-header bg-dark text-light" id="headingOne">
                  <h5 class="mb-0 text-center">
                    Books
                  </h5>
                </div>
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#salesBook" aria-expanded="true" aria-controls="salesBook">
                      Sales Book
                    </button>
                  </h5>
                </div>

                <div id="salesBook" class="collapse" aria-labelledby="headingOne" data-parent="#books">
                  <div class="card-body">
                    <div class="list-group">
                      <a href="{% url 'addcustomer' %}" class="list-group-item list-group-item-action">
                        Add Customer
                      </a>
                      <a href="{% url 'sTransaction' %}" class="list-group-item list-group-item-action">Add Transaction</a>
                      <a href="{% url 'viewSTransaction' %}" class="list-group-item list-group-item-action">View Transactions</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#purchaseBook" aria-expanded="false" aria-controls="purchaseBook">
                     Purchase Book
                    </button>
                  </h5>
                </div>
                <div id="purchaseBook" class="collapse" aria-labelledby="headingTwo" data-parent="#books">
                  <div class="card-body">
                    <div class="list-group">
                      <a href="{% url 'addsupplier' %}" class="list-group-item list-group-item-action">
                        Add Supplier
                      </a>
                      <a href="{% url 'pTransaction' %}" class="list-group-item list-group-item-action">Add Transaction</a>
                      <a href="{% url 'viewPTransaction' %}" class="list-group-item list-group-item-action">View Transactions</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#inventoryBook" aria-expanded="false" aria-controls="inventoryBook">
                      Inventory Book
                    </button>
                  </h5>
                </div>
                <div id="inventoryBook" class="collapse" aria-labelledby="headingThree" data-parent="#books">
                  <div class="card-body">
                    <div class="list-group">
                      <a class="list-group-item list-group-item-action" href="{% url 'addproduct' %}">Add Product</a>
                      <a class="list-group-item list-group-item-action" href="{% url 'inventorybook' %}">Add Records</a>
                      <a class="list-group-item list-group-item-action" href="{% url 'viewrecord' %}">View Records</a>

                      <a class="list-group-item list-group-item-action" href="{% url 'inventoryreport' %}">Reports</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Deliveries -->
             <div class="card mb-5">
            <div class="card-header bg-dark text-light text-center">
              <h5>Next Delivery Info</h5>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-bordered  fullwidth">
                <thead>
                  <tr>
                    <th>Date(Nep)</th>
                    <th>Date(Eng)</th>

                    <th>Customer's Name</th>
                    <th>Address</th>
                    <th>Note</th>
                  </tr>
                </thead>
                <tbody>

                  {% if data %}
                      {% for d in data %}
                      <tr>
                      <td>
                        {{d.date|date:"Y-m-d"}}
                      </td>
                      <td>{{d.date_eng}}</td>
                      <td>
                          {{d.customer}}
                      </td>
                      <td>
                          {{d.customer.address}}
                        </td>
                        <td>
                          {{d.note}}
                      </td>

                  </tr>
                      {% endfor %}
                      {% else %}
                      <tr class="text-center">
                        <td colspan="4" >No Data</td>
                      </tr>
                      {% endif %}

                </tbody>
            </table>
            <small class="text-muted">Note: <strong>User: {{request.user}}</strong> will be notified one day before the delivery via email on <strong>{{request.user.email}}</strong></small>

            </div>
            <div class="card-footer text-center">
              <a class="btn btn-link collapsed" href="{% url 'delivery' %}" >
                Add Delivery Info
              </a>
            </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
