{% load staticfiles %}
<div class="bg-white border-bottom shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logoo.png' %}" height="30" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Sales Book
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="{% url 'addcustomer' %}">Add Customer</a>
             <a class="dropdown-item" href="{% url 'sTransaction' %}">Add Transaction</a>
             <a class="dropdown-item" href="{% url 'viewSTransaction' %}">View Transaction</a>
           </div>
         </li>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Purchase Book
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="{% url 'addsupplier' %}">Add Supplier</a>
             <a class="dropdown-item" href="{% url 'pTransaction' %}">Add Transaction</a>
             <a class="dropdown-item" href="{% url 'viewPTransaction' %}">View Transaction</a>
           </div>
         </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'report' %}">Report</a>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Inventory Book
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="{% url 'addproduct' %}">Add Product</a>
             <a class="dropdown-item" href="{% url 'inventorybook' %}">Add Records</a>
             <a class="dropdown-item" href="{% url 'viewrecord' %}">View Records</a>

             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="{% url 'inventoryreport' %}">Reports</a>
           </div>
         </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Payment</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"> logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
